/* ================ global styles ================ */
:root {
  --main-color: #e43c5c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/* ================ Header ================ */
header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url("../images/asset\ 13.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
header .content h3 {
  font-size: 26px;
  background-color: rgb(255, 255, 255, 0.1);
  width: fit-content;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 30px;
}
header .content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
header .content h2 {
  margin-bottom: 40px;
  font-size: 24px;
}
header .content a {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 40px;
  transition: 0.3s;
}
header .content a:hover {
  background-color: var(--main-color);
}
